<html>
{% include 'main/base.html' %}
<body>
<div class='container text-center'>
  <h2 class="form-heading">Create new notification</h2>
  <br>
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
          </div>
        {% endfor %}
      </ul>
    {% endif %}
    <div class="form-group">
      <label for="query">Select user ids using SQL query:</label>
      <input type="text" class="form-control" id="query" value="select id from auth_user where id in (2,3);">
        <div id="sqlerror" class="alert alert-danger hidden">
        </div>
        <div id="sqlsuccess" class="alert alert-info hidden">
        </div>
        <a href="" class="btn btn-lg btn-primary" id="runsql">Run SQL</a>
    </div>
    <br>
  <form class="form-horizontal" id="user_form" method="post"
        action="/main/dashboard/" enctype="multipart/form-data">
    {% csrf_token %}
    {% load bootstrap %}
    <table>
        <tr>
          <td class="container text-center">
              <div class="form-group">
                  <label class="control-label col-sm-2 col-lg-2 " for="id_notify_to">Notify to</label>
                  <div class=" col-sm-10 col-lg-10 ">
                      <select multiple="multiple" class=" form-control" id="id_notify_to" name="notify_to">
                      </select>
                  </div>
              </div>
          </td>
        </tr>

        <tr>
          <td class="container text-center">{{ notif_form.header | bootstrap_horizontal}}</td>
        </tr>

        <tr>
          <td class="container text-center">{{ notif_form.content | bootstrap_horizontal}}</td>
        </tr>

        <tr>
          <td class="container text-center">{{ notif_form.image_url | bootstrap_horizontal}}</td>
        </tr>

        <tr>
          <td class="container text-center">{{ notif_form.notify_date | bootstrap_horizontal}}</td>
        </tr>

    </table>
    <button class="btn btn-lg btn-primary" type="submit">Create</button>
    <input type="hidden" name="submit" value="Register" />
  </form>
</div>
<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>
