<!DOCTYPE html>

<html>
    {% include 'main/base.html' %}

    <body>
    <div class="container">
    	{% if user.is_authenticated %}
            {% if notifications %}
                <div class="panel-group">
                {% for n in notifications %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">{{ n.header }}</div>
                        <table class="table borderless">
                            <tr>
                                <td class="col-md-10">
                                    <p>Notification recieved on: {{ n.notify_date | date:"D d M Y H:i"}}</p>
                                </td>
                                <td class="col-md-2">
                                    <img src="{{ n.image_url }}" height="50px" width="50px">
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-12">
                                    {{ n.content }}
                                </td>
                            </tr>
                        </table>
                    </div>
                {% endfor %}
                </div>
            {% else %}
                No notifications recieved yet
            {% endif %}
        {% else %}
        	<h1> Please register/login to proceed! </h1>
        {% endif %}
    	<br>

	</div>
    </body>
</html>
