<body>
  <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Django Hackathon Starter</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          {% if not user.is_authenticated %}
            <li class="active"><a href="/main/register">Register <span
                    class="sr-only">(current)</span></a></li>
            
            <li><a href="/main/login">Login</a></li>
          {% endif %}
            
        </ul>
        
        <ul  class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
    
            <li><a>Hello {{user}}</a></li>
            <li><a href="/main/logout/">Logout</a></li>
          {% endif %}
        </ul>
          
          
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</body>