<!DOCTYPE html>
<html>
    {% include 'main/base.html' %}
    <link rel="stylesheet" href="/static/css/form.css">
    <body>
        {% if registered %}
          <strong>Thank you for registering!</strong>
          <a href="/main/login/">Return to the homepage.</a><br />
        
        {% else %}
          <div class='container text-center'>
              <h2 class="form-signin-heading">Sign Up</h2>
              <br>
              <form class="form-horizontal" id="user_form" method="post" action="/main/register/" enctype="multipart/form-data">
                {% csrf_token %}
                {% load bootstrap %} 

                <table>
                  <tr>
                     
                      <td class="container text-center">{{ user_form.username | bootstrap_horizontal}}</td>
                  </tr>

                  <tr>
                     
                      <td class="container text-center">{{ user_form.email | bootstrap_horizontal}}</td>
                  </tr>

                  <tr>
                     
                      <td class="container text-center">{{ user_form.password | bootstrap_horizontal}}</td>
                  </tr>
                </table>
                <button class="btn btn-lg btn-primary" type="submit">Register</button>
                <input type="hidden" name="submit" value="Register" />
              </form>
            </div>
          {% endif %}
    </body>
</html>

